---
import { getLapisUrl } from '../lapisUrl';
import SwaggerUI from 'swagger-ui-react';
import 'swagger-ui-react/swagger-ui.css';

const swaggerUiUrl = getLapisUrl() + '/swagger-ui.html';
const openApiUrl = getLapisUrl() + '/api-docs';
---

<p>
    An <a href='https://www.openapis.org/'>OpenAPI specification</a> is a formal (human and computer readable) description
    of an API, like LAPIS. You can find the specification of this LAPIS instance here: <a href={openApiUrl}
        >{openApiUrl}</a
    >.
</p>
<h2>Swagger UI</h2>
<p>
    A Swagger UI is an interactive UI generated from the OpenAPI specification. You can find LAPIS' Swagger UI included
    below or behind this link: <a href={swaggerUiUrl}>{swaggerUiUrl}</a>. It shows all available endpoints and allows
    you to try them out. Just click on the "Try it out" button. You can set the filters, fields to group by and the
    response format.
</p>

<div class='not-content'>
    <SwaggerUI url={openApiUrl} client:load />
</div>
