---
import { getConfig } from '../../config';
import BaseAwareLink from '../BaseAwareLink.astro';
import { getFilters, getCommonFilterDescription } from './getFilters';
import { getReferenceGenomes, isMultiSegmented } from '../../reference_genomes';

const config = getConfig();
const filters = getFilters(config);

const commonFilters = getCommonFilterDescription(getReferenceGenomes());
---

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {
            [...filters, ...commonFilters].map((filter) => (
                <tr>
                    <td>{filter.name}</td>
                    <td>
                        {filter.type}
                        {filter.name === config.schema.primaryKey && <> (primary key)</>}
                    </td>
                    <td>
                        {filter.description}
                        {filter.link !== undefined && (
                            <>
                                see
                                <BaseAwareLink href={filter.link.href}>{filter.link.text}</BaseAwareLink>
                            </>
                        )}
                    </td>
                </tr>
            ))
        }
    </tbody>
</table>
